.app_wrapper {
  text-align: center;
}

.app {
  display: inline-block;
}

.card {
  display: inline-block;
  width: 100px;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.day_text {
  font-size: 16px;
  font-weight: bold;
}

.temp_text {
  font-size: 15px;
}

.weather_icon {
  width: 50px;
  height: 50px;
}

.title_bar {
  width: 712px;
  border-style: solid;
  border-width: 1px;
  background-color: #2980b9;
}

.tb_float_left{
  float: left;
  padding-left: 5px;
}
.tb_float_right{
  float: right;
  padding-right: 5px;
}
.clearBoth {
  clear: both;
}

.bottom_bar{
  width: 712px;
  border-style: solid;
  border-width: 1px;
  background-color: #2980b9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
